{% extends "base.html" %}

{% block content %}

	<!-- Animated background -->
	<div class="row">
		
		<div class="center" id="header">
			<h1>
			Search for A Concert Near You
			</h1>
            {{ form }}
		</div>
		
	</div>
	<!-- Animated background -->
	
	<!-- Foreground -->
	<div class="row" id="foreground">
		
		<!--Main Navigation-->
		<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar">
			
			<a class="navbar-brand" href="index" id="brand-text">
				<img src="../static/images/music-icon.png" width="25" height="25">
				SpotiConcert
			</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="/concerts">Search for Concerts</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="/spotify">Recommendations</a>
					</li>
				</ul>
			</div>
		</nav>
		<!--Main Navigation-->

        <!-- Main Features -->
        <div class="container" style="padding: 10px;">
            <section class="fadeIn">
                <form action="{{get_concerts}}">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-2">
                            <label class="col-2 col-form-label">State</label>
                            <select class="form-control">
                                <option>New York</option>
                                <option>California</option>
                                <option>Pennsylvania</option>
                                <option>New Jersey</option>
                                <option>Florida</option>
                            </select>
                        </div>
                        
                        <div class="col-2">
                            <label class="col-2 col-form-label">Genre</label>
                            <select class="form-control">
                                <option>Pop</option>
                                <option>Rock</option>
                                <option>Blues</option>
                                <option>Hip-Hop</option>
                                <option>Techno</option>
                                <option></option>
                            </select>
                        </div>
                        
                        <div class="col-2">
                            <label class="col-4 col-form-label">Start Date</label>
                            <input class="form-control" placeholder="YYYY-MM-DDTHH:MM:SSZ" value="2023-01-01T00:00:01Z">
                                
                            </input>
                        </div>
                        
                        <div class="col-2">
                            <label class="col-3 col-form-label">End Date</label>
                            <input class="form-control" placeholder="YYYY-MM-DDTHH:MM:SSZ" value="2023-01-01T00:00:01Z">
                            </input>
                        </div>
                        <div class="col-2"></div>


                        <div class="row" style="padding-top: 40px;">
                            <div class="col-2"></div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary" id="search-btn">Search</button>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </section>
        </div>
        <!-- Main Features -->

        <div class="row" style="height:100px"></div>

        <!-- Connect Spotify -->
        <div class="container" style="padding: 50px;">
            <section class="fadeIn">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <h3>
                            Want to get personalized concert recommendations based on your Spotify listenining history?
                        </h3>
                    </div>

                    <div class="col-md-5" style="text-align: center;">
                    <button type="button" class="btn btn-outline-success btn-floating btn-rounded btn-lg" data-mdb-ripple-color="dark" onclick="spotifyConnect()">
                        <i class="fa fa-spotify"></i> Connect Your Spotify Account
                    </button>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                        
            </section>
        </div>

		</div>
	</div>
	<!-- Foreground -->

	<br><br>



    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        </section>

    
        <!-- Section: Links  -->
        <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                <i class="fa fa-briefcase"></i> Mission Statement 
                </h6>
                <p>
                SpotiConcert strives to provide users with concert recommendation based on real data. By connecting your Spotify account, 
                SpotiConcert curates a list entirely unique to you and your music taste.  
                </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                <i class="fa fa-link"></i> Useful links
                </h6>
                <p>
                <a href="#!" class="text-reset">FAQs</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Find Concerts</a>
                </p>
                <p>
                <a href="#!" class="text-reset">My Concerts</a>
                </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fa fa-home me-3"></i> Glassboro NJ, 08028</p>
                <p>
                <i class="fa fa-envelope me-3"></i>
                spoti.concert@gmail.com
                </p>
                <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
            </div>
            <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        </section>
        <!-- Section: Links  -->
    
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            <i class="fa fa-github"></i> <a class="text-reset fw-bold" href="https://github.com/carolinegraham6622/concert_app">https://github.com/carolinegraham6622/concert_app</a>
        </div>
        <!-- Copyright -->
    </footer>
  <!-- Footer -->

<script>
	function spotifyConnect() {
        location.href = "/spotify";
    }

    $( "#search-btn" ).on( "click", function() {
        alert( "Handler for `click` called." );
    } );
</script>

{% endblock %}