{% extends "base.html" %}

{% block content %}

	<!-- Animated background -->
	<div class="row">
		
		<div class="center" id="header">
			<h1>
                Welcome, {{ results['current_user']['display_name'] }}!
			</h1>
		</div>
		
	</div>
	<!-- Animated background -->
	
	<!-- Foreground -->
	<div class="row" id="foreground">
		
		<!--Main Navigation-->
		<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar">
			
			<a class="navbar-brand" href="index" id="brand-text">
				<img src="../static/images/music-icon.png" width="25" height="25">
				SpotiConcert
			</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="/concerts">Search for Concerts</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="/spotify">Recommendations</a>
					</li>
				</ul>
			</div>
		</nav>
		<!--Main Navigation-->

        <!-- Body -->



        <div class="container" style="padding: 50px;">
            <section class="fadeIn">
            
                <!--Grid row-->

                <h1> Recommended Genres </h1>
                <div class="row container">
                    <p>
                    {% for genre in results['rec_genre']['genres'] %}
                        <span class="badge badge-pill" style="background-color: rgb(168, 121, 106);">{{ genre }}</span> 
                    {% endfor %}
                    </p>
                </div>

                <h1> Recently Played </h1>
                <div class="row pt-2">
                    <p>
                    {% for item in results['current_user_recently_played']['items'] %}
                    <span class="badge badge-pill" style="background-color: rgb(168, 121, 106);">{{ item['track']['name'] }} by {{ item['track']['album']['artists'][0]['name'] }} </span> 
                    {% endfor %}
                    </p>
                </div>

                <h1> Your Top Tracks </h1>
                <div class="row pt-2">
                    <p>
                    {% for item in results['top_tracks']['items'] %}
                    <span class="badge badge-pill" style="background-color: rgb(168, 121, 106);">{{ item['name'] }} by {{ item['artists'][0]['name'] }}</span> 
                    {% endfor %}
                    </p>
                </div>
            </section>
        </div>
        <!-- Body -->

		</div>
	</div>
	<!-- Foreground -->

	<br><br>



    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        </section>

    
        <!-- Section: Links  -->
        <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                <i class="fa fa-briefcase"></i> Mission Statement 
                </h6>
                <p>
                SpotiConcert strives to provide users with concert recommendation based on real data. By connecting your Spotify account, 
                SpotiConcert curates a list entirely unique to you and your music taste.  
                </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                <i class="fa fa-link"></i> Useful links
                </h6>
                <p>
                <a href="#!" class="text-reset">FAQs</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Find Concerts</a>
                </p>
                <p>
                <a href="#!" class="text-reset">My Concerts</a>
                </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fa fa-home me-3"></i> Glassboro NJ, 08028</p>
                <p>
                <i class="fa fa-envelope me-3"></i>
                spoti.concert@gmail.com
                </p>
                <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
            </div>
            <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        </section>
        <!-- Section: Links  -->
    
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            <i class="fa fa-github"></i> <a class="text-reset fw-bold" href="https://github.com/carolinegraham6622/concert_app">https://github.com/carolinegraham6622/concert_app</a>
        </div>
        <!-- Copyright -->
    </footer>
  <!-- Footer -->

{% endblock %}